node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated resized-image cache
files/.cache/
build/
build.tar.gz
build.tar
build.zip
build*.tar.gz
build*.zip
